body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#homepage{
    width: 100%;
    margin: 0px;
    color: white;
}

#homepage #menuBar{
    margin: 0px;
    width: 39%;
    float: right;
    height: 637px;
     background-color: black;
    opacity: 0.9;
}

#homepage #menuBar #menu{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 85%;
    height: 40px;
    float: left;
    margin-left: 10%;
}

#homepage #menuBar #menu ul{
    width: 96%;
    height: 30px;
    list-style: none;
    
}

#homepage #menuBar #menu ul li{
    background-color: rgba(29, 9, 104, 0.349);
    width: 100px;
    margin-left: 20px;
    height: 25px;
    border-radius: 5px;
    padding-top: 10px;
    float: left;
    border: 1px solid gray;
    text-align: center; 
    color: tomato;
}
#homepage #menuBar #menu ul li ul{
    /* margin-top: 10px; */
    float: left;
    margin-top: 10px;
    height: 125px;
    z-index: 10;
    position: relative;
    background-color: white;
    display: none;
}

#homepage #menuBar #menu ul li:hover ul{
    display: inline;
}

#homepage #menuBar #menu ul li ul li{
    margin-top: 2px;
    margin-left:  -25px;
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 1px solid gray;
}

#homepage #menuBar #menu ul li ul li a{
    color: black;
    text-decoration: none;
}
#homepage #menuBar #menu ul li ul li:hover a{
    color: tomato;
}

#homepage #menuBar #imageLef{
    width: 96%;
    float: left;
    margin: 10px;
    height: 350px;
}
#homepage #menuBar #imageLef #description{
    width: 90%;
    float: left;
    margin-left: 30px;
}

#homepage #menuBar #imageLef #description h1{
   font-size: 17px;
   font-weight: normal;
   color: rgb(177, 35, 10);
   opacity: 0.8;
}
#homepage #menuBar #imageLef #description p{
    font-size: 14px;
    font-weight: normal;
    color: white;
    opacity: 0.6;
 }

#homepage #content{
    width: 61%;
    margin: 0px;
    height: 637px;
    background-color: rgba(0, 0, 0, 0.959);
}

#homepage #content h1{
    margin-top: 0px;
    padding: 20px;
    font-size: 30px;
    margin-left: 0px;
    padding-bottom: 5px;
    color: rgb(167, 26, 1);
    opacity: 0.9;
}

#homepage #content #cover{
    margin-left: 20px;
    width: 60%;
    height: 300px;
    background-color: rgba(24, 23, 23, 0.219);
    box-shadow:50px 1px 40px 100px rgb(0, 0, 0);
}
#homepage #content #cover img{
    width:100%;
    height:100%;
    opacity: 0.4;   
}
#homepage #content #slide{
    width: 35%;
    float: left;
    height: 150px;
    margin-top: 20px;
}
#homepage #content #slide div{
    width: 60px;
    margin: 14px;
    float: left;
    height: 150px;
}

#homepage #content #slide div img{
    width: 60px;
    border-radius: 60px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid rgb(71, 70, 70);
    height: 60px;
    opacity: 0.5;
}

#homepage #content #slide button{
    width: 30px;
    margin: 15px;
    float: left;
    border: 4px solid gray;
    background-color: transparent;
    height: 30px;
    border-radius: 30px;
    color: tomato;
}


#homepage #content #about{
    width: 60%;
    float: right;
    height: 200px;
    margin-right: 20px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    opacity: 0.4;
}

#homepage #content #about p{
    font-size: 14px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
 }

 #logBody{
     background-color: tomato;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

/* Form */
#loginBox{
    width: 25%;
    height: 400px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 120px;
    margin-left: 37%;
}
#loginBox h1{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    text-transform: uppercase;
}

#loginBox #formStyle{
    width: 90%;
    height: 95%;
    float: left;
    margin-left: 4%;
    
}

#loginBox #formStyle input{
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 25px;
    padding-left: 5px;
    font-size: 14px;
}

#profile{
    width: 20%;
    height: 600px;
    float: left;
}
#profile div{
    width: 94%;
    margin:5px;
    height: 150px;
    /* border: 1px solid gray; */
    float: left;
    margin-bottom: 20px;
}
#profile div img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border: 1px solid gray; */
    float: left;
    margin: 10px;
    margin-left: 60%;
}

#profile div p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}
 



/* SponsorPage */
#sponsor{
    width: 80%;
    height: 637px;
    float: left;
    /* margin-left: 5%; */
    background-color: rgba(255, 255, 255, 0.979);
    opacity: 0.8;
    
}

#sponsor #opera{
    width: 45%;
    height:  550px;
    float: left;
    /* border: 1px solid gray; */
    margin:20px;
    margin-top: 70px;
}
#sponsor #opera h1{
    font-size: 18px;
}
#sponsor #opera #search{
   width: 96%;
   height: 35px;
   margin: 10px;
   /* border: 1px solid gray; */
   float: left;
}
#sponsor #opera #search button{
    width: 100px;
    height: 25px;
    float: left;
    margin: 5px;
    font-weight: bold;
    border: 1px solid rgb(24, 9, 9);
    border-radius: 7px;
    margin-left: 10px;
    background-color: transparent;
}



#sponsor #opera #result{
    width: 96%;
    height: 420px;
    float: left;
    margin: 10px;
    /* border: 1px solid gray; */
}

#sponsor #opera #result #resultData{
    width: 98%;
    height: 200px;
    float: left;
    margin: 5px;
    border: 1px solid gray;
}

#sponsor #opera #result #resultChart{
    width: 98%;
    height: 200px;
    float: left;
    margin: 5px;
    border: 1px solid gray;
}






#sponsor #report{
    width: 45%;
    height:  600px;
    float: left;
    margin:20px;
}

#sponsor #report h1{
    font-size: 18px;
    margin-left: 20px;
}

#sponsor #report #attendence{
    width: 94%;
    height:  150px;
    overflow: auto;
    float: left;
    border: 1px solid gray;
    margin:10px;
}

#sponsor #report #attendence table{
    width: 96%;
    margin:5px;
}

#sponsor #report #attendence table tr th, #sponsor #report #attendence table tr th{
   font-size:14px;
   padding-left: 40px;
   padding-right: 40px;
   border:1px solid gray;
}


#sponsor #report #attendence ul{
    line-height: 20px;
    list-style: none;
}

#sponsor #report #attendence ul li img{
    margin-left: 5px;
    height: 25px;
    width: 25px;
}